body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/bg.jpg");
  height: 100%;
}
.con{
	background:#455A64;
	opacity: 0.90;
	border-radius:10px;
	height:500px;
	width:350px;
	position: relative;
    background-position: center;
	margin-top:-700px;
	margin-left:650px;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
}
#user img{
	padding-left:125px;
	margin-top:-60px;
}
#con2 form{
	padding-top:150px;
}
#con2 input[type="text"]{
	border-radius:3px;
	margin-right:60px;
	width:65%;
	height:30px;
	font: bold 13px tahoma, sans-serif;
}
#con2 input[type="password"]{
	border-radius:3px;
	margin-right:60px;
	width:65%;
	height:30px;
	font: bold 13px tahoma, sans-serif;
}
#con2 input[type="submit"]{
		border-radius:5px;
		margin-right:50px;
		margin-top:50px;
		background: #87a04d;
		color: white;
		border-style: outset;
		border-color: #87a04d;
		height: 50px;
		width: 250px;
		font: bold 20px tahoma, sans-serif;
		text-shadow:none;

}
}